@charset "UTF-8";
/* intentionally left blank */
.ayu {
  --highlight: #46480f;
}
.coal {
  --highlight: #46480f;
}
.light {
  --highlight: #ffffc1;
}
.navy {
  --highlight: #46480f;
}
.rust {
  --highlight: #fdf2ca;
}
.mdbook-quiz-wrapper.expanded {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 999;
  padding: 0 10rem;
  box-sizing: border-box;
  overflow-y: auto;
  background: var(--bg);
}
@media (max-width: 799px) {
  .mdbook-quiz-wrapper.expanded {
    padding: 0 1rem;
  }
}
.mdbook-quiz-wrapper.expanded .mdbook-quiz {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.mdbook-quiz {
  border: 2px solid var(--searchresults-border-color);
  border-radius: 4px;
  padding: 1em;
  margin-top: 2.5em;
  position: relative;
}
@media (max-width: 799px) {
  .mdbook-quiz {
    padding: 0.5em;
  }
}
.mdbook-quiz .exit {
  position: absolute;
  right: -4rem;
  top: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem;
}
@media (max-width: 799px) {
  .mdbook-quiz .exit {
    right: 0;
    top: -45px;
  }
}
.mdbook-quiz .exit-explanation {
  position: absolute;
  bottom: -2rem;
  right: 0;
  height: 0;
  width: 50%;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 799px) {
  .mdbook-quiz .exit-explanation {
    width: 100%;
  }
}
.mdbook-quiz .exit-explanation .trigger {
  font-style: italic;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.mdbook-quiz header {
  display: flex;
  justify-content: space-between;
}
.mdbook-quiz h3 {
  margin: 0 0 1em;
}
.mdbook-quiz h4 {
  margin: 0 0 0.5em;
}
.mdbook-quiz button, .mdbook-quiz input[type=submit] {
  font-size: 1.1em;
  cursor: pointer;
  background-color: var(--searchbar-bg);
  color: var(--searchbar-fg);
  border: 1px solid var(--searchbar-border-color);
  border-radius: 4px;
  padding: 3px 5px;
}
.mdbook-quiz .prompt,
.mdbook-quiz .response {
  position: relative;
  padding: 1em;
}
@media (max-width: 799px) {
  .mdbook-quiz .prompt,
  .mdbook-quiz .response {
    padding: 0.75em;
  }
}
.mdbook-quiz .prompt {
  background: var(--quote-bg);
  margin-bottom: 1em;
}
.mdbook-quiz .prompt pre {
  overflow-x: auto;
  overflow-y: hidden;
}
.mdbook-quiz .prompt .bug-report {
  position: absolute;
  max-width: 70%;
  right: 0.5em;
  top: 0.5em;
  text-align: right;
}
.mdbook-quiz .prompt .bug-report button {
  filter: grayscale(100%);
  border: 0;
  background: none;
}
.mdbook-quiz .prompt .bug-report .reporter {
  background: var(--bg);
  border: 2px solid var(--theme-popup-border);
  padding: 0.5em;
  text-align: left;
  border-radius: 4px;
  box-shadow: 1px 1px 4px var(--theme-popup-border);
  position: relative;
  z-index: 1000;
}
.mdbook-quiz .prompt .bug-report .reporter .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.mdbook-quiz .response fieldset {
  border: none;
  margin: 0 0 1em 0;
  padding: 0;
}
.mdbook-quiz .response fieldset .choice {
  max-width: 100%;
}
.mdbook-quiz .response fieldset .choice label {
  display: block;
  flex-grow: 1;
  width: 0;
}
.mdbook-quiz .response fieldset .choice pre, .mdbook-quiz .response fieldset .choice .editor {
  border: 1px solid var(--theme-popup-border);
  border-radius: 4px;
  padding: 2px 4px;
}
.mdbook-quiz .response fieldset .choice pre {
  width: max-content;
}
.mdbook-quiz .response .response-block {
  margin-bottom: 0.5em;
}
@media (max-width: 799px) {
  .mdbook-quiz .response .response-block {
    line-height: 2em;
  }
}
.mdbook-quiz .option {
  border: 2px solid var(--theme-popup-border);
  border-radius: 4px;
  padding: 0.25em;
  margin: 0 0.25em;
  display: inline-block;
}
.mdbook-quiz .option-separator {
  margin: 0 0.5em;
}
.mdbook-quiz form input.error,
.mdbook-quiz form textarea.error {
  outline-color: #e16969;
}
.mdbook-quiz form :not(input, textarea).error {
  border: 1px solid #e16969;
}
.mdbook-quiz textarea,
.mdbook-quiz input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
.mdbook-quiz select,
.mdbook-quiz textarea,
.mdbook-quiz input[type=text] {
  padding: 3px 6px;
}
.mdbook-quiz textarea {
  min-height: 5em;
}
.mdbook-quiz pre.line-numbers {
  counter-reset: line;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: auto 1em;
  gap: 0.2em;
}
@media (max-width: 799px) {
  .mdbook-quiz pre {
    overflow-x: auto;
    overflow-y: hidden;
    line-height: 1em;
  }
}
.mdbook-quiz pre .line-number {
  text-align: right;
}
.mdbook-quiz pre .line-number:before {
  counter-increment: line;
  content: counter(line);
  user-select: none;
  padding-right: 1em;
  color: var(--searchresults-border-color);
  font-size: 0.8em;
}
.mdbook-quiz pre code {
  padding: 0;
}
.mdbook-quiz pre mark {
  background: var(--highlight);
}
.mdbook-quiz .editor .monaco-editor, .mdbook-quiz .editor .monaco-editor-background, .mdbook-quiz .editor .monaco-editor .margin {
  background: none !important;
}
.mdbook-quiz .editor .monaco-hover hr {
  margin-bottom: 4px;
}
.mdbook-quiz .editor .highlight {
  background: var(--highlight);
}
.mdbook-quiz p:first-child,
.mdbook-quiz pre:first-child {
  margin-top: 0;
}
.mdbook-quiz p:last-child,
.mdbook-quiz pre:last-child {
  margin-bottom: 0;
}
.mdbook-quiz input[type=submit] {
  margin-top: 1em;
}
.mdbook-quiz .answer-wrapper:not(:last-child) {
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #ccc;
}
.mdbook-quiz .multiple-choice .choice {
  display: flex;
  gap: 10px;
}
.mdbook-quiz .multiple-choice .choice:not(:last-child) {
  margin-bottom: 1em;
}
.mdbook-quiz .multiple-choice input[type=radio] {
  margin: 0;
}
.mdbook-quiz .multiple-choice input[type=radio].error {
  outline: 1px solid #e16969;
}
.mdbook-quiz .answer .answer-header {
  margin-bottom: 1em;
}
.mdbook-quiz .answer .answer-row {
  display: flex;
  gap: 1rem;
}
@media (max-width: 799px) {
  .mdbook-quiz .answer .answer-row {
    flex-wrap: wrap;
  }
}
.mdbook-quiz .answer .answer-row ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 1em;
}
.mdbook-quiz .answer .answer-row ul li {
  margin-block-end: 0.5em;
}
.mdbook-quiz .answer .answer-row > div {
  border: 2px solid var(--theme-popup-border);
  padding: 1rem;
  width: 50%;
  overflow: auto;
}
@media (max-width: 799px) {
  .mdbook-quiz .answer .answer-row > div {
    width: 100%;
  }
}
.mdbook-quiz .answer .answer-row > div .answer-header {
  font-weight: bold;
}
.mdbook-quiz .answer .answer-row > div .correct:before {
  color: green;
  margin-right: 1rem;
  content: "✓ Correct";
  font-size: 1.5rem;
}
.mdbook-quiz .answer .answer-row > div .incorrect:before {
  color: red;
  margin-right: 1rem;
  content: "✗ Incorrect";
  font-size: 1.5rem;
}
.mdbook-quiz .answer .context {
  margin-top: 1em;
}
.mdbook-quiz .info-wrapper {
  display: inline-block;
  position: relative;
}
.mdbook-quiz .info-popout {
  position: absolute;
  background: var(--bg);
  left: calc(100% + 10px);
  border: 1px solid var(--theme-popup-border);
  padding: 0.5em;
  text-align: left;
  border-radius: 4px;
  max-width: 400px;
  width: max-content;
  box-shadow: 1px 1px 4px var(--theme-popup-border);
}
.mdbook-quiz .info {
  display: inline-block;
  color: var(--icons);
  border: 1px solid var(--icons);
  border-radius: 50%;
  vertical-align: middle;
  font-size: 12px;
  width: 17px;
  height: 17px;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
}
.mdbook-quiz .info:hover {
  color: var(--fg);
  border-color: var(--fg);
}
.mdbook-quiz .info::before {
  content: "?";
  vertical-align: middle;
}
.mdbook-quiz .multipart-context {
  padding-left: 1em;
}
.mdbook-quiz .multipart-context .multipart-context-content {
  border: 1px solid var(--theme-popup-border);
  padding: 0.5em;
  background-color: var(--theme-popup-bg);
  margin-bottom: 1em;
}
.mdbook-quiz .rotate-arrow {
  transform: rotate(-90deg);
  display: inline-block;
}